{% extends 'base.html' %}

{% block content %}
<br>
<table align="center" class="table table-sm" id="user-tables" style="max-width: 800px;max-height: 400px;">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>address</th>
            <th>contact</th>
            <th>staff type</th>
        </tr>
    </thead>

    <tbody class="table-ko-body table-primary" id="myTables">
        {% for employee in employee %}
        <tr id="leave">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.contact }}</td>
        <td>{{employee.type}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a type="button" class="btn btn-primary" href="/create" style="float:right; margin-right: 160px;">Create</a>

{% endblock %}
