{% extends 'base.html' %}

{% block content %}
<br>
<a type="button" class="btn" href="create">Create</a>
<br>
<br>
<h1 align="center">Attendance Table</h1>
<table align="center" class="table table-sm" id="user-table" style="max-width: 800px;max-height: 400px;">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Date</th>
            <th>start-time</th>
            <th>end-time</th>
        </tr>
    </thead>

    <tbody class="table-ko-body table-primary" id="myTable">
        {% for employee in employee %}
        <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ attendance.date }}</td>
        <td>{{ attendance.start }}</td>
        <td>{{ attendance.end }}</td>
        </tr>
         {% endfor %}
    </tbody>

</table>
<hr>
<h1 align="center">Leave Table</h1>
<table align="center" class="table table-sm" id="user-tables" style="max-width: 800px;max-height: 400px;">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Days</th>
            <th>Date</th>
            <th>Reason</th>
            <th>Permission</th>
        </tr>
    </thead>

    <tbody class="table-ko-body table-primary" id="myTables">
        {% for employee in employee %}
        <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ leave.days }}</td>
        <td>{{ leave.date }}</td>
        <td>{{ leave.reason }}</td>
        <td><button class="btn btn-success">grant leave</button> <button class="btn btn-danger">reject leave</button> </td>
        </tr>
         {% endfor %}
    </tbody>

</table>

{% endblock %}


