{% extends 'base.html' %}

{% block content %}
{% for message in messages %}

<style>
.messages{
background-color:green;
}
</style>

<div class="messages">
  <div class="alert {{ message.tags }} alert-dismissible h3" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
    </div>
{% endfor %}

<br>
<a type="button" class="btn" href="/create">Create</a>
<a type="button" class="btn" href="/employee">Employees</a>
<br>
<h1 align="center">Leave Table</h1>
<table align="center" class="table table-sm" id="user-tables" style="max-width: 800px;max-height: 400px;">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Date</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Permission</th>
        </tr>
    </thead>

    <tbody class="table-ko-body table-primary" id="myTables">
        {% for leave in leave %}
        <tr id="leave">
        <td>{{ leave.user.id }}</td>
        <td>{{ leave.user }}</td>
        <td>{{ leave.date }}</td>
        <td>{{ leave.reason }}</td>
        <td style="color:red;">{{leave.status}}</td>
        <td><a type="button" href="/grant/{{leave.id}}" class="btn btn-success">grant leave</a> <a type="button" href="/reject/{{leave.id}}" class="btn btn-danger">reject leave</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
<h1 align="center">Entry Table</h1>
<table align="center" class="table table-sm" id="user-table" style="max-width: 600px;max-height: 400px;">
    <thead style="background-color:green;">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Entry-Time</th>
        </tr>
    </thead>

    <tbody class="table-ko-body table-primary" id="myTable">
        {% for entry in entry %}
        <tr>
        <td>{{ entry.user.id }}</td>
        <td>{{ entry.user }}</td>
        <td>{{ entry.start_time }}</td>
        </tr>
         {% endfor %}
    </tbody>
</table>
<hr>
<h1 align="center">Exit Table</h1>
<table align="center" class="table table-sm" id="user-tabless" style="max-width: 600px;max-height: 400px;">
    <thead style="background-color:red;">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Exit-Time</th>
        </tr>
    </thead>

    <tbody class="table-ko-body table-primary" id="myTabless">
        {% for exit in exit %}
        <tr>
        <td>{{ exit.user.id }}</td>
        <td>{{ exit.user }}</td>
        <td>{{ exit.end_time }}</td>
        </tr>
         {% endfor %}
    </tbody>
</table>


{% endblock %}


