{% extends 'base.html' %}
{% block content %}
<br>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <div class="jumbotron">
         <label>Date</label>
        <input name="date" type="date" class="form-control" id="date">
        <br>
        <label>Reason</label>
        <input name="reason" type="text" class="form-control" id="reason" placeholder="Reason">
            <br>
        </div>

    <div class="footer">
        <button type="submit" class="btn btn-success">Request</button>
    </div>
        </div>
</form>
{% endblock %}